@import '~antd/dist/antd.css';

.ant-tabs-nav .ant-tabs-tab-active {
    color: #388e3c;
}

.ant-tabs-nav .ant-tabs-tab-active:hover,
.ant-tabs-nav .ant-tabs-tab:hover {
    color: #388e3c;
}

.ant-tabs-ink-bar {
    background-color: #388e3c;
}

.ant-table:not(.ant-table-fixed-header) .ant-table-content {
    overflow-y: scroll;
}

.anticon svg {
    margin-bottom: 5px;
    font-size: 20px;
}

.tabs-big > .ant-tabs-content {
    height: calc(100vh - 180px);
}

.tabs-small .ant-tabs-content {
    height: calc(100vh - 218px);
}

.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane,
.ant-tabs-tabpane-active {
    overflow: scroll;
}

.ant-input:hover,
.ant-input:focus {
    border-color: #66bb6a;
}

.ant-tooltip-inner,
.ant-tooltip-arrow::before {
    background-color: rgba(9, 159, 72, 0.6);
}

.ant-modal-body {
    max-height: 530px;
    overflow: auto;
}

.ant-select-single .ant-select-selector {
    border-radius: 5px/5px !important;
}

.ant-select-arrow {
    width: 5px;
    position: relative;
    left: calc(100% - 25px);
    bottom: 37px;
}

.ant-popover-inner-content .anticon {
    color: #388e3c;
    position: absolute;
    left: -8px;
    top: 4px;
}

.ant-btn-primary {
    background-color: #039be5;
}

.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
    color: #59885b;
}

.ant-table-column-sorter-full {
    margin-top: 0;
}

.ant-table-column-sorter-full .anticon {
    height: 13px;
}

.ant-table-column-sorter-full .anticon svg {
    font-size: 13px;
}

.center-div {
    z-index: 1000;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: #59885b;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 39px;
}

.ant-select-arrow {
    left: calc(100% - 18px);
    bottom: 37px;
}

.ant-select-arrow .anticon svg {
    font-size: 13px;
}

.ant-picker-calendar-date-content .events {
    padding: 0;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-today {
    border-color: #73d13d;
}

.ant-picker-cell-selected:hover
.ant-picker-calendar-date
.ant-picker-calendar-date-value,
.ant-picker-calendar-full
.ant-picker-panel
.ant-picker-cell-selected
.ant-picker-calendar-date-today
.ant-picker-calendar-date-value,
.ant-picker-calendar-full
.ant-picker-panel
.ant-picker-cell-selected:hover
.ant-picker-calendar-date-today
.ant-picker-calendar-date-value {
    color: #237804;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    color: #388e3c;
}

.ant-table-pagination.ant-pagination {
    margin: 0;
}

.ant-picker-body {
    max-height: calc(100vh - 250px);
    overflow: scroll;
}

.shift-employee-card {
    padding: 8px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.shift-list-employee {
    overflow: auto;
}

.ant-input-search-icon::before {
    border-left: none;
}

.loading-spinner {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.ant-select-clear {
    top: 35%;
    right: 20px;
}

.shift-arrangement-header {
    display: flex;
    align-items: center;
    background: #65e06b33;
    border: solid 0.1px #65e06b33;
    border-radius: 10px;
    height: 60px;
}
