@import '~antd/dist/antd.css';

.ant-tabs-nav .ant-tabs-tab-active {
  color: #388e3c;
}

.ant-tabs-nav .ant-tabs-tab-active:hover,
.ant-tabs-nav .ant-tabs-tab:hover {
  color: #388e3c;
}
.ant-tabs-ink-bar {
  background-color: #388e3c;
}

.ant-table:not(.ant-table-fixed-header) .ant-table-content {
  overflow-y: scroll;
}

.anticon svg {
  margin-bottom: 10px;
  font-size: 23px;
}

.tabs-big .ant-tabs-content {
  height: calc(100vh - 180px);
}

.tabs-small .ant-tabs-content {
  height: calc(100vh - 218px);
}

.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane,
.ant-tabs-tabpane-active {
  overflow: scroll;
}

.ant-input:hover,
.ant-input:focus {
  border-color: #66bb6a;
}

.ant-tooltip-inner,
.ant-tooltip-arrow::before {
  background-color: rgba(9, 159, 72, 0.6);
}

.ant-modal-body {
  max-height: 530px;
  overflow: auto;
}

.ant-select-single .ant-select-selector {
  border-radius: 5px/5px !important;
}

.ant-select-arrow {
  width: 5px;
  position: relative;
  left: 93%;
  bottom: 37px;
}
