.feature-select {
  cursor: pointer;
}

.dropdown-feature {
  border: 0px;
  box-shadow: none;
  width: 100%;
}

.dropdown-menu {
  width: 100%;
}

.btnLoadMore {
}

.loadMore {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  color: #42BF5D;
  border-width: 0 1px 1px 0;
}

.package-description p {
  display: none;
}

.info-buyer {
  font-size: 16px;
  font-weight: 600;
  /* padding: 20px 0px; */
}

.sale-off-panel {
  padding: 10px;
}

.sale-off-panel span{
  color: #e3e4e6 !important;
}

.package-plan {
  position: relative;
  overflow: hidden;
}

.sale-off-panel p {
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  top: 0px;
  right: -59px;
  color: #fff;
  background-color: red;
  padding: 13px;
  padding-bottom: 0px;
  border-radius: 20px;
  transform: rotate(40deg);
  width: 170px;
}

.sale-off-price {
  font-size: 28px !important;
  text-decoration-line: line-through;

  color: #e3e4e6 !important;
}

.package-plan::after {
  content: "";
  position: absolute;


}

.highlight-feature {
  font-weight: bold;
}

.member-slider {
  display: flex;
  justify-content: space-around;
}

#price-bundle {
  display: flex;
  justify-content: space-around;
}

/* .single-price-plan.active .package-plan .ca-price>h4 {
  color:#fb397d !important;
} */