.ant-picker {
  &:hover,
  &:focus,
  &:active {
    border-color: $primary !important;
  }
}

.ant-picker-focused {
  border-color: $primary !important;
}

.ant-picker-cell-selected {
  .ant-picker-cell-inner {
    background: $primary !important;
  }
}
.ant-pagination-item {
  color: $black !important;
  &:hover,
  &:focus,
  &:active {
    border-color: $primary !important;
    color: $primary !important;
  }
}

.ant-pagination-item-active {
  border-color: $primary !important;
}

.ant-pagination-item-link {
  border: none !important;
}
