img {
  max-width: 100%;
  border-radius: $border-radius-sm;
}
.img-raised {
  box-shadow: $box-shadow-raised;
}

.img-complaint {
  max-width: 100px;
  max-height: 70px;
  border: 1px solid $primary;
  margin-right: 7px;
}
